@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SalesTracker.Models
@model Product

<br>
<h2>Add a new item: </h2>
<hr />
@using (Html.BeginForm("Create", "Product", FormMethod.Post))
{
    <div class="container">
        <div class="container" style="font-size:2rem;">
            Name
            <br />
            @Html.TextBoxFor(product => product.Name)
            <br />
            <br />
            Inventory Total
            <br />
            @Html.TextBoxFor(product => product.InventoryTotal)
            <br />
            <br />
            Wholesale Price
            <br />
            @Html.TextBoxFor(product => product.WholesalePrice)
            <br />
            <br />
            Sale Price
            <br />
            @Html.TextBoxFor(product => product.SalePrice)
        </div>
        <hr />
        <input type="submit" value="Create" style="text-align:center; font-size:3rem;"/>
    </div>

}